.component {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  border-radius: 1.5rem;
  width: 40rem;

  padding: 3.8rem;
  color: var(--color-white);
  background-color: var(--color-blue-dark);
  @media only screen and (max-width: $bp-mobil) {
    padding: 2rem;
    margin: 1rem;
    width: 35rem;
  }
}

.rating-component {
  &__img {
    height: 4.5rem;
    width: 4.5rem;
    background-color: var(--color-blue-medium);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__star {
    height: 1rem;
  }

  &__text {
    font-size: 1.5rem;
    color: var(--color-grey-medium);
  }

  &__counter {
    display: flex;
    justify-content: space-between;
  }

  &__number {
    background-color: var(--color-blue-medium);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: none;

    span {
      color: var(--color-grey-medium);
      font-weight: 700;
      font-size: 1.7rem;
    }

    &:hover {
      background-color: var(--color-primary);
      cursor: pointer;
    }

    &:active {
      background-color: var(--color-grey-medium);
      span {
        color: var(--color-white);
      }
    }
  }

  &__btn-submit {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    padding: 1.3rem 4rem;
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;

    @media only screen and (max-width: $bp-mobil) {
      background-color: var(--color-primary);
      color: var(--color-white);
    }

    &:hover,
    &:active {
      background-color: var(--color-white);
      color: var(--color-primary);
    }
  }

  &--hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}

.thanks-component {
  justify-content: center;
  align-items: center;
  padding: 5rem 3.2rem;

  &__img {
    display: inline-block;
  }

  &__selection {
    color: var(--color-primary);
    padding: 0.5rem 1.8rem;
    background-color: var(--color-blue-medium);
    border-radius: 2.5rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-grey-medium);
  }

  &--hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
